body{
    background-image: url(fundo2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cad{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
img{
    width: 120px;
    height: 120px;
}
.formulario{
    align-items: flex-start;
    width: 500px;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ffffff80;
    backdrop-filter: blur(8px);
    margin-right: 120px;
}
.topo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h3{
    font-size: 32px;
    font-family: 'Times New Roman';
    color: white;
    margin-bottom: 10px;
}
.up{
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: rgb(21, 148, 56);
    border-radius: 8px;
}
input{
    width: 40px;
    height: 20px;
    font-size: 16px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    border: 1px solid white;
}
.input{
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman';
    margin-bottom: 20px;
}
label{
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman';
}
.caixa{
    width: 490px;
    height: 25px;
    color: white;
}
.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.cadastrar{
    width: 200px;
    height: 40px;
    font-size: 20px;
}
button{
    color: rgb(21, 148, 56);
    border-radius: 8px;
}